@using ProjectQuiz.DTO;
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
@model List<AdminResultSummary>;

@{
    ViewData["Title"] = "Admin Summary";
}

<div class="row pt-4">
    <div class="col-6">
        <h2>Quiz Submissions</h2>
    </div>
</div>

<p>
    @using (Html.BeginForm(FormMethod.Get))
    {
        <text>Category</text>@Html.DropDownList("categoryname", new SelectList(ViewBag.Category))
        <text>Username</text>@Html.DropDownList("username", new SelectList(ViewBag.Username))
        <input type="submit" value="Search" />
    }
</p>

<table cellspacing="3" cellpadding="10" class=" table table-bordered table-striped">
    <tr>
        <th>Quiz Category</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Completion</th>
        <th>Score</th>
        <th>Detail</th>
    </tr>
    @foreach (var item in Model)
        {

        <tr>
            <td>@item.categoryname</td>
            <td>@item.starttime</td>
            <td>@item.endtime</td>
            <td>@item.username</td>
            <td>@item.firstname</td>
            <td>@item.lastname</td>
            <td>@item.completion / 10</td>
            <td>@item.score</td>
            <td><a class="btn btn-link" asp-controller="Admin" asp-action="GetDetailByQuizId" asp-route-quizid=@item.quizid>Detail</a></td>
        </tr>


            }
</table>

<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script>$(document).ready(function () {
        $('#myTable').DataTable({
            "pageLength": 10
        });
    });</script>